body {
    background-color: rgb(216 216 216);
}

.navbar a img {
    background-color: white;
    width: 32px;
    height: 29px;
    border-radius: 8%;
}

.navbar {
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 30%);
}

.nav-item {
    padding-left: 20px;
    padding-right: 25px;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.navbar .container {
    height: 52px;
    padding-top: 4px;
}

.navbar::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 52px;
    background: url(assets/top.jpg) repeat-x top center rgba(26,26,26,0.9);
    z-index: -1;
}

.nav-link {
    color: #ccc;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    padding:  0!important;
}

.dropdown-toggle::after {
    vertical-align: .2em;
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
    color: #ccc;
}

.sign-in {
    color: #de8ae5;
}

.titles {
    margin: 15px 0;
}

.titles i {
    font-size: 15px;
    color: #404040;
    height: 15px;
    margin-right: 8px;
}

.border-secondary {
    border-color: #bfbfbf!important;
}

.title-text {
    font-size: 15px;
}

.carousel-inner {
    max-height: 460px;
}

.cards-top {
    max-width: none;
}

.card-title {
    font-size: 12px;
    font-weight: 400;
}

.text-cont {
    text-decoration: none;
    font-size: 14px;
    color: rgb(64, 64, 64);
}

.purple-hl {
    color: #86328a!important;
    font-weight: bold;
    text-decoration: none;
}

.card {
    border: none;
    border-radius: 0%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}

.card-img-top {
    border-radius: 0%;
}

#info-middle {
    border-color: rgb(64, 64, 64);
}

#footer {
    background: #262626;
}

#footer li {
    padding-right: 0.3em;
}

#footer li:first-of-type {
    padding-left: 0%;
}

.footer-link {
    font-size: 12px!important;
}

.footer-link-bottom {
    color: rgba(255, 255, 255, 0.43);
    font-weight: normal;
    font-size: 11px;
    padding-top: 0.3em;
}

.footer-logo {
    width: 47px;
    height: 58px;
    background: url(/assets/gog-vertical-logo.svg) center center no-repeat;
    background-size: 100%;
}

.middle-content {
    background: #2F2F2F;
    box-shadow: 0 0 8px 0 rgb(17 17 17 / 24%);
    min-height: 94px;
}

.card-img {
    object-fit: cover;
    height: 100%;
}

.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    opacity: .7;
}

.card-img-overlay {
    top: auto;
}

.navbar i {
    font-size: 14px;
}

.card {
    height: 100%;
}